**/node_modules/
**/.git
**/.github
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.editorconfig
**/.aws
**/dist
**/.nvmrc
**/*push.sh
**/_test/
**/*.test.js
coverage/
built/
